<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

<div class="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="images/logo-1.jpg"><b>Edu-Learn</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <i class="material-icons right"></i> <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/Wifi">Wifi Hotspots</a>
                <a class="nav-item nav-link" href="/Material">Study Material</a>
                <a class="nav-item nav-link" href="/Tutor">Find Tutor</a>
            </div>
        </div>
    </nav>
</div>

<br>

<div class="jumbotron" id="home">
    <div class="container">
        <div class="media">
            <div class="col-md-12">
                <center><h1>Welcome To Edu-Learn</h1></center>
                <br>
                <center><h3>Edu-Learn is an educational platform that allows students
                    <br>to find nearest hotspots,
                    study resources and links them to tutors<br> so that they can be
                    able to learn effectively.</h3></center>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="home">
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-lg btn-block btn-info" href="/Wifi">WiFi Hotspots  <i class="material-icons right">wifi</i></a>
                <img src="images/wifi.jpeg">
                <p>Do you need to do your school research and do not have access to the internet? Discover top WiFi networks that are near your location and get the map of the best FREE WiFi
                    locations in Cape Town that you can connect to. It's easy, just click the button below.
                </p>
            </div>

            <div class="col-md-4">
                <a class="btn btn-lg btn-block btn-info" href="/Material">Study Material <i class="material-icons right">school</i> </a>
                <img src="images/studing.jpeg">
                <p> We understand how frustrating it can be to look for study resources while scramming for your exam. Studing
                    shouldn't be as difficult as it sounds. To help you prepare for your exams, we use various study resources
                    including past papers, learner guides and textbooks.
                </p>
            </div>

            <div class="col-md-4">
                <a class="btn btn-lg btn-block btn-info" href="/Tutor">Find A Tutor  <i class="material-icons right">supervisor_account</i> </a>
                <img src="images/tutor.jpeg">
                <p>There may be times when you fall behind with your school work. Because we do not want you to struggle alone
                    with your school work, we help you find a reliable tutor who will help and guide you with your school work
                    FREE OF CHARGE.
                </p>
            </div>
        </div>
    </div>
        <div class="footer">
            <div class="col-md-12">
                <p>&copy; 2019 Edu-Learn<p>
            </div>
        </div>
        </div>

</body>
</html>