{{#partial "body"}}

    <h1 class=" main ">Welcome</h1>

    <form method="post" action="/Home">
        <div class="row">
            <div class="col-12">
                <h2>
                    Enter Name below
                </h2>
                <input type="text" name="firstName"> <br>
            </div>
        </div>
        <div>
            <button class="btn" type="submit">
                login
            </button>
            <div class="row">
                <div class="col-12">

                </div>
            </div>
        </div>
    </form>


{{/partial}}

{{> layout.hbs }}