{{#partial "body"}}

    <div class="container">
        <div>
            <h1 class="main ">Ask your Tutors</h1>
        </div>
        <div class="row">

            <form action="//formspree.io/tutors.edulearn@gmail.com" method="post">
                <label for="name">Name</label>
                <input type="text" id="fname" name="name" placeholder="Enter Your Name">

                <label for="email">Email address</label>
                <input type="text" id="email" name="email-address" placeholder="Enter Your Email Address">

                <label for="subject">Subject</label>
                <input type="text" id="subject" name="subject" placeholder="Enter Subject">

                <label for="message">Ask your question</label>
                <textarea id="text" name="message" placeholder="Write something" style="height:200px"></textarea>

                <button class="btn btn-info" type="submit">Submit</button>



            <form action="action_page.php">

                <label for="fname">Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">

                <label for="lname">Email address</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                <label for="lname">Subject</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                <label for="subject">Ask your question</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

                <button class="btn" type="submit">
                    Submit
                </button>

            </form>
        </div>

        <div class="row">
            <div class="col-12 ">

            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <a href="/">
                    <button class="btn">
                        Home
                        <i class="material-icons right">home</i>
                    </button>
                </a>
            </div>

        </div>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">

</script>
        <!--End of Tawk.to Script-->
    </div>
{{/partial}}

{{> layout.hbs }}