{{#partial "body"}}


    <div class="container">
        <div>
            <h1 class="main ">Find the material below</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <p>List comming soon....</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 ">

            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <a href="/">
                    <button class="btn">
                        Home
                        <i class="material-icons right">home</i>
                    </button>
                </a>
            </div>

        </div>
    </div>
{{/partial}}

{{> layout.hbs }}