{{#partial "body"}}
        <div>
            <h1 class="main ">Ask Your Tutors</h1>
        </div>

        <div class="row">
            <div class="col-2"></div>

            <div class="col-8" style="margin-top: 10%;">

                <form action="//formspree.io/tutors.edulearn@gmail.com" method="post">
                    <label for="name">Name</label>
                    <input type="text" id="fname" name="name" placeholder="Enter Your Name" required>

                    <label for="email">Email address</label>
                    <input type="text" id="email" name="email-address" placeholder="Enter Your Email Address" required>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Subject</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option value="1" name="mathematics">Mathematics</option>
                            <option value="2" name="Science">Science</option>
                            <option value="3" name="Economics">Economics</option>
                            <option value="4" name="Technology">Technology</option>
                            <option value="5" name="Isixhosa">Isixhosa</option>
                            <option value="6" name="English">English</option>
                            <option value="7" name="Mathematical Literacy">Mathematical Literacy</option>
                            <option value="8" name="Geography">Geography</option>
                            <option value="9" name="History">History</option>
                            <option value="10" name="Business Studies">Business Studies</option>
                        </select>
                    </div>

                    <label for="message">Ask your question</label>
                    <textarea id="text" name="message" placeholder="Write something" style="height:200px" required></textarea>

                    <button class="btn btn-info" type="submit">Submit</button>
                </form>

            </div>
            <div class="col-2"></div>
        </div>


        <div class="row">
            <div class="col-12 ">

            </div>
        </div>

        <div class="row">


        </div>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">

</script>
        <!--End of Tawk.to Script-->
    </div>

{{/partial}}

{{> layout.hbs }}